.miniContainer {
    top: 50%;
    left: 50%;
    width: 450px;
    position: absolute;
    margin-left: -225px;
    margin-top: -180px;
}

.container {
    padding-top: 0px;
    width: 900px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: auto;
}

div#bs-example-navbar-collapse-1 {
    border-radius: 7px;
    border: 1px solid rgb(51, 146, 225);
}

.footer {
    width: 100%;
}